h1{
  text-align: center;
  font-size: 15px;
}

/* * {
  font-size: 12px;
  font-family: 'Times New Roman';
}

td,
th,
tr,
table {
  border-top: 1px solid black;
  border-collapse: collapse;
}

td.description,
th.description {
  width: 1in;
  max-width: 1in;
}

td.quantity,
th.quantity {
  width: 0.5in;
  max-width: 0.5in;
  word-break: break-all;
}

td.price,
th.price {
  width: 0.5in;
  max-width: 0.5in;
  word-break: break-all;
}

.centered {
  text-align: center;
  align-content: center;
}

.ticket {
  width: 2in;
  max-width: 2in;
}

img {
  max-width: inherit;
  width: inherit;
} */
